/.gradle
/.idea
/.nb-gradle
/.project
/build

/aws-examples-common/build
/cli/build
/majorms-lambda-example/build
/msdistr-lambda-example/build
/nmr-lambda-example/build

/new-includes-majorms.txt
/new-includes-msdistr.txt
/new-includes-nmr.txt
/out.txt
/out.sdf
/out.jsonl
/data.json
/response.json
/req-with-sg.json
/python-deployment-package.zip
